:root {
    --num-col: 6;
}

.content {
    color: #fff;
    padding: 30px 20px;
}

.col {
    width: calc(100% / var(--num-col));
    padding: 40px 10px 15px;
}

.col>img {
    object-fit: cover;
    object-position: top;

}

.col>h3 {
    font-size: 0.8rem;
    font-weight: 400;
}