footer {
    background-image: url("../assets/img/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-top {
    background-image: url("../assets/img/dc-logo-bg.png");
    background-size: fill;
    background-position: right;
    background-repeat: no-repeat;
}

h3 {
    color: #fff;
}

.footer-top ul {
    padding: 30px 0;
}

.footer-top a {
    text-decoration: none;
    color: #8F8F8F;
    font-weight: 500;
    display: inline-block;
    font-size: 0.7rem;
}

.footer-bottom {
    background-color: #303030;
    padding: 30px 0;
}