.background {
    background-color: #1C1C1C;
}

.content {
    color: #fff;
    padding: 30px 20px;
}

.wrap {
    background-color: #0582F9;
}

ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
}

li img {
    height: 44px;
    width: auto;
}