.link a {
    text-decoration: none;
    color: #1C1C1C;
    font-weight: 700;
    display: inline-block;
    font-size: 0.6rem;
}

.active a {
    color: #0582F9;
    border-bottom: 3px solid #0582F9;

}

ul {
    list-style-type: none;
}