/* Font Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}

.gap-20 {
  gap: 20px;
}

.p-30 {
  padding: 30px;
}

.text-blu {
  color: #0582F9;
}

.container {
  width: 80%;
  margin: 0 auto;
}